@import "../../assets/colors/variables.scss";

.mainContainer {
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 32px;
    justify-content: center;
    justify-items: center;
    padding: 48px;

    @media (min-width: 1200px) {
      grid-gap: 75px;
      padding: 75px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    .gridProjectElement {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      border: 4px solid #e9dac1;
      border-radius: 5%;
      width: auto;
      max-width: 400px;
      aspect-ratio: 16 / 10;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 200ms linear;
      background-color: $white;
      background-color: $white;

      @media (max-width: 450px) {
        max-width: 100%;
        width: 100%;
        aspect-ratio: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition:
          opacity 200ms linear,
          transform 200ms linear;
      }

      .centeredElement {
        position: absolute;
        opacity: 0;
        color: $black;
        transition: opacity 200ms linear;
      }

      &:hover {
        transform: scale(1.03);

        img {
          opacity: 0;
        }

        .centeredElement {
          opacity: 1;
        }
      }

      .multipleLinksProjectContainer {
        display: flex;
        justify-content: center;

        a {
          text-decoration: none;
          color: $black;
        }

        a:not(:first-child) {
          padding-left: 10px;
        }

        a:not(:last-child) {
          padding-right: 10px;
          border-right: solid 2px $black;
        }
      }
    }
  }
}
