@import "../../assets//colors/variables.scss";

.mainContainer {
  h2 {
    margin-top: 40px;
    text-align: center;
    @media (max-width: 580px) {
      margin-top: 80px;
    }
  }

  .technologiesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 75px;
    justify-content: center;
    padding: 75px 75px;

    .gridTechnologyElement {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
      border: 4px solid $border-color;
      border-radius: 20%;
      height: 250px;
      width: 250px;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
