@import "../../assets/colors/variables.scss";

.profileImageMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .profileImageFakeContainer {
    z-index: 1;
    position: absolute;
    background-color: $primary-color;
    border: 5px solid $border-color;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  .profileImageOverLayer {
    position: absolute;
    height: 200px;
    width: 270px;
    background-color: $primary-color;
    z-index: 2;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .profileImage {
    z-index: 3;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
