@import "../../assets/colors/variables.scss";
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @media (max-width: 1024px) {
    margin: 50px;
  }

  p {
    border: 4px solid $border-color;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    max-width: 1080px;
  }
}
