@import "../../assets//colors/variables.scss";

.header {
  background-color: $primary-color;
  height: 200px;
  margin: 50px 0;
  border: solid $border-color;
  border-width: 3px 0;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 20px;
    margin: 0px;
  }

  .nameContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 580px) {
      flex-direction: column;
    }
  }
}
