@import "./assets//colors/variables.scss";

body {
  margin: 0;
  background-color: $background-color;

  .smallTopLeftborder {
    width: 50px;
    height: 50px;
    background-color: $background-color;
    border-right: 4px solid $border-color;
    border-bottom: 4px solid $border-color;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
  }

  .smallTopRightborder {
    width: 50px;
    height: 50px;
    background-color: $background-color;
    border-left: 4px solid $border-color;
    border-bottom: 4px solid $border-color;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: -6px;
    right: -6px;
  }

  .smallBottomLeftborder {
    width: 50px;
    height: 50px;
    background-color: $background-color;
    border-right: 4px solid $border-color;
    border-top: 4px solid $border-color;
    border-top-right-radius: 100%;
    position: absolute;
    bottom: -6px;
    left: -6px;
  }

  .smallBottomRightborder {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $background-color;
    border-left: 4px solid $border-color;
    border-top: 4px solid $border-color;
    border-top-left-radius: 100%;
    bottom: -6px;
    right: -6px;
  }

  .bigTopLeftborder {
    width: 75px;
    height: 75px;
    background-color: $background-color;
    border-right: 4px solid $border-color;
    border-bottom: 4px solid $border-color;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: -6px;
    left: -6px;
  }

  .bigTopRightborder {
    width: 75px;
    height: 75px;
    background-color: $background-color;
    border-left: 4px solid $border-color;
    border-bottom: 4px solid $border-color;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: -6px;
    right: -6px;
  }

  .bigBottomLeftborder {
    width: 75px;
    height: 75px;
    background-color: $background-color;
    border-right: 4px solid $border-color;
    border-top: 4px solid $border-color;
    border-top-right-radius: 100%;
    position: absolute;
    bottom: -6px;
    left: -6px;
  }

  .bigBottomRightborder {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: $background-color;
    border-left: 4px solid $border-color;
    border-top: 4px solid $border-color;
    border-top-left-radius: 100%;
    bottom: -6px;
    right: -6px;
  }

  .topRightDot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $border-color;
    top: 25px;
    right: 25px;
    border-radius: 50%;
  }

  p h3 {
    margin: 0;
  }

  .mainContainer {
    margin-top: 100px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary-color;
    position: relative;
    border: 4px solid $border-color;
  }
}
